/*impostazione base per azzerare la formattazione di default*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.riga{
    position: relative;
    height: 700px;
    
}


/*per rendere l'immagine tutto sfondo*/
#sfondo{
    position: absolute;
    background-image: url("Immagini/roma.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;

}
/*Per spostare al centro della viewport il testo*/
.titolo{
    font-family: Verdana;
    font-size: 50px;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

#sfondo2{
    position: absolute;
    background-image: url("Immagini/copenaghen.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#sfondo3{
    position: absolute;
    background-image: url("Immagini/tokyo.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}